:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.create-post {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 5vw;
  margin-right: 5vw;
}

#title {
  padding-top: 5px;
  width: 89.5vw;
  font-size: 1.5rem;
  font-family: "Arial", Times, serif;
}

#addPost {
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.3);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(170, 170, 170);
  cursor: pointer;
  transition: border-color 0.25s;
}
#addPost:hover {
  background-color: rgb(150, 150, 150);
  border-color: rgb(0, 0, 0);
}
#addPost:focus,
#addPost:focus-visible #addPost {
  outline: 4px auto -webkit-focus-ring-color;
}

.ql-toolbar {
  background-color: white;
  color: black;
  width: 90vw;
}
.ql-container {
  background-color: white;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 80vh;
  width: 90vw;
}
